{% extends 'base.html'%}
{%block content%}
<head>
    <style>
        .test1{
                    font-size: 18px;
                    margin-left: 738px;
                }
                .test2{
                    font-size: 18px;
                    margin-right: 288px;
                }
                .test3{
                    font-size: 18px;
                    margin-left: -244px;
                }
    </style>
</head>
<body style="background-color:pink">

<h3 align="center" style="color:rgb(0, 4, 255)">Signup Form</h3>

<form style="margin-left:400px" method="post">

{%csrf_token%}
{{form.as_p}}
<button style="background-color: crimson;color: darkgoldenrod;" type="submit" name="signup">Signup</button>

</form>

<div>
    <nav class="navbar navbar-dark bg-dark  " style="margin-bottom:0px; font-size: 14px; font-family: serif;  height: 75px; background-color: #07203a!important;">
        
        <a class="navbar-brand test1"  href="http://127.0.0.1:8000/help" style="color: blue;">Help</a>
        <a class="navbar-brand test2"  href="{%url 'home'%}" style="color: blue;"><i class="fa fa-phone"></i></i>+91 6262474111</a>

        <a class="navbar-brand test3"  href="{%url 'home'%}" style="color: blue;"><i class="fa fa-envelope"></i>livewireindore@gmail.com</a>


    </div>
</body>
{%endblock%}